.base-results {
  margin: 30px 0;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "year state county county"
    "role political political button";
  gap: 1.3rem 1rem;

  .county {
    grid-area: county;
  }

  .political {
    grid-area: political;
  }

  .button {
    grid-area: button;
    height: fit-content;
    align-self: center;
  }
}

.switch {
  width: 100%;
  margin: 1rem 0 0.7rem 0;
  .MuiTypography-root {
    font-size: 0.9rem;
  }
  & .MuiSwitch-switchBase.Mui-checked {
    color: red;
  }

  & .MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
    background-color: red;
  }
}
